*.webm
*/*.png
!c132references-04-cat/turn1-hit-reaction-50.png
!c132references-04-cat/turn3-hit-idle-90.png
!c198creaturesupplya-05-bear/turn1-hit-reaction-50.png
!c198creaturesupplya-05-bear/turn3-hit-idle-90.png
!c202creaturesupply-15-fishing-cat/turn1-hit-reaction-50.png
!c202creaturesupply-15-fishing-cat/turn3-hit-idle-90.png
!c198creaturesupplyc-11-albatross/turn1-hit-reaction-50.png
!c198creaturesupplyc-11-albatross/turn3-hit-idle-90.png
!g2c59-01-elk/turn1-hit-reaction-50.png
!g2c59-01-elk/turn3-hit-idle-90.png
!g2c114-17-tahr/turn1-hit-reaction-50.png
!g2c114-17-tahr/turn3-hit-idle-90.png
!g2c110-17-caribou/turn1-hit-reaction-50.png
!g2c110-17-caribou/turn3-hit-idle-90.png
!g2c106-24-lemming/turn1-hit-reaction-50.png
!g2c106-24-lemming/turn3-hit-idle-90.png
!g2c83-23-prairie-dog/turn1-hit-reaction-50.png
!g2c83-23-prairie-dog/turn3-hit-idle-90.png
