/02-minnow-native-01/*.png
!/02-minnow-native-01/turn1-hit-reaction-50.png
!/02-minnow-native-01/turn3-hit-idle-50.png
!/02-minnow-native-01/turn3-hit-reaction-50.png
/05-whitefish-native-01/*.png
!/05-whitefish-native-01/turn1-hit-reaction-50.png
!/05-whitefish-native-01/turn3-hit-idle-50.png
!/05-whitefish-native-01/turn3-hit-reaction-50.png
/07-cichlid-native-01/*.png
!/07-cichlid-native-01/turn1-hit-reaction-50.png
!/07-cichlid-native-01/turn3-hit-idle-50.png
!/07-cichlid-native-01/turn3-hit-reaction-50.png
/08-tetra-native-01/*.png
!/08-tetra-native-01/turn1-hit-reaction-50.png
!/08-tetra-native-01/turn3-hit-idle-50.png
!/08-tetra-native-01/turn3-hit-reaction-50.png
/01-pike-native-01/*.png
!/01-pike-native-01/turn1-hit-reaction-50.png
!/01-pike-native-01/turn3-hit-idle-50.png
!/01-pike-native-01/turn3-hit-reaction-50.png
/03-char-native-01/*.png
!/03-char-native-01/turn1-hit-reaction-50.png
!/03-char-native-01/turn3-hit-idle-50.png
!/03-char-native-01/turn3-hit-reaction-50.png
/04-sturgeon-native-01/*.png
!/04-sturgeon-native-01/turn1-hit-reaction-50.png
!/04-sturgeon-native-01/turn3-hit-idle-50.png
!/04-sturgeon-native-01/turn3-hit-reaction-50.png
/08-goldfish-native-01/*.png
!/08-goldfish-native-01/turn1-hit-reaction-50.png
!/08-goldfish-native-01/turn3-hit-idle-50.png
!/08-goldfish-native-01/turn3-hit-reaction-50.png
/02-haddock-native-01/*.png
!/02-haddock-native-01/turn1-hit-reaction-50.png
!/02-haddock-native-01/turn3-hit-idle-50.png
!/02-haddock-native-01/turn3-hit-reaction-50.png
/03-pollock-native-01/*.png
!/03-pollock-native-01/turn1-hit-reaction-50.png
!/03-pollock-native-01/turn3-hit-idle-50.png
!/03-pollock-native-01/turn3-hit-reaction-50.png
/05-anchovy-native-01/*.png
!/05-anchovy-native-01/turn1-hit-reaction-50.png
!/05-anchovy-native-01/turn3-hit-idle-50.png
!/05-anchovy-native-01/turn3-hit-reaction-50.png
